<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Mail Catcher</title>
</head>
<body data-layout-fragment="body">
<!--/*@thymesVar id="email" type="org.subethamail.wiser.WiserMessage"*/-->
<div class="row">
    <h3>Email Detail</h3>
    <ul>
        <li>Sender: <span th:text="${email.envelopeSender}"></span></li>
        <li>Receiver: <span th:text="${email.envelopeSender}"></span></li>
        <li>Subject: <span th:text="${email.mimeMessage.subject}"></span></li>
        <li>Sent Date: <span th:text="${email.mimeMessage.sentDate}"></span></li>
    </ul>
    <hr/>
    <p th:text="${body}"></p>
</div>
</body>
</html>