<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Mail Catcher</title>
    <link class="style" rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Mail Catcher</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Inbox</a></li>
                        <li><a href="/tools">Tools</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" name="q" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <h3>Email List</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Number</th>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Sent Date</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            #* @vtlvariable name="allEmails" type="java.util.List<org.subethamail.wiser.WiserMessage>" *#
                #foreach($email in $allEmails)
                <tr>
                    <td><a href="/show?id=${email.mimeMessage.messageID}">$email.mimeMessage.messageNumber</a></td>
                    <td>$email.envelopeSender</td>
                    <td>$email.envelopeReceiver</td>
                    <td><a href="/show?id=${email.mimeMessage.messageID}">$email.mimeMessage.subject</a></td>
                    <td>$email.mimeMessage.sentDate</td>
                    <td><a class="btn btn-danger" href="/delete?id=${email.mimeMessage.messageID}">Delete</a></td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <a href="/clear" class="btn btn-danger">Clear Inbox</a>
    &nbsp;
    <a href="/tools" class="btn btn-primary">Send Email</a></div>
</body>
</html>