<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Mail Catcher</title>
    <link class="style" rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>
<body data-layout-fragment="body">
<div class="row">
    <h3>Email List</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Number</th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Sent Date</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="allEmails" type="java.util.List<org.subethamail.wiser.WiserMessage>"*/-->
        <tr th:each="email,iter : ${allEmails}">
            <td><a href="/show?id=${email.mimeMessage.messageID}" th:text="${email.mimeMessage.messageNumber}">1</a>
            </td>
            <td th:text="${email.envelopeSender}"></td>
            <td th:text="${email.envelopeReceiver}"></td>
            <td><a th:href="${'/show?id='+email.mimeMessage.messageID}" th:text="${email.mimeMessage.subject}"></a>
            </td>
            <td th:text="${email.mimeMessage.sentDate}"></td>
            <td><a class="btn btn-danger" href="/delete?id=${email.mimeMessage.messageID}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/clear" class="btn btn-danger">Clear Inbox</a>
    &nbsp;
    <a href="/tools" class="btn btn-primary">Send Email</a>
</div>

</body>
</html>